$white: #fff;
$black: #000;
$green: rgb(78, 192, 78);
$green-hover: rgb(13, 144, 6);
$grey: rgb(172, 171, 171);
$light-grey: rgb(154, 154, 154);

$main-color: #1b1b1b;

$nav-bottom-shadow: rgba(0, 0, 0, 0.2);
$background-shadow: rgba(0, 0, 0, 0.6);
$footer-background-color: rgba(141, 141, 141, 0.11);
$footer-shadow: rgba(156, 153, 153, 0.867);
